body {
  border-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20rem 10rem;
  padding: 1rem 2rem;
  border: 5px solid #ccc;
  border-radius: 1rem;
  height: 30rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 1rem;
  height: 20rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
