*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: steelblue;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

#hide {
  display: none;
}

.container {
  margin: 20rem 10rem;
  padding: 1rem 2rem;
  border: 5px solid #ccc;
  border-radius: 1rem;
  width: 80%;
  background-color: white;
  box-shadow: 0 0 10px 2px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  font-size: 1.5em;
}

.landing-page {
  margin: 20rem 10rem;
  padding: 3rem;
  border: 2px solid black;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px 2px;
}

.quiz-title {
  font-size: 3rem;
  /* font-family: ; */
}

.start-btn {
  width: 8rem;
  height: 2.5rem;
  margin: 1rem;
}

.questions {
  align-self: center;
  margin: 0.5rem;
  font-size: 2.25em;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 1rem;
  padding: 1em;
}

.answer-buttons {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.answer-btn {
  width: 50%;
  height: 2.25rem;
  align-self: center;
  margin: 0.5rem;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  margin-top: 1rem;
}

.question-tracker {
  margin: 1.5rem;
}

.high-scores {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.next-btn {
  width: 9rem;
  height: 2.5rem;
}

.result-box {
  margin: 20rem 10rem;
  padding: 1rem;
  border: 5px solid black;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-title {
  font-size: 3rem;
  margin: 1rem;
}

.result-score {
  border: 1px solid #363636;
  height: 3rem;
  width: 25%;
  margin: 1rem;
}

.result-btn {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 1rem;
  gap: 1rem;
}

.restart {
  width: 8rem;
  height: 2rem;
}

.quit {
  width: 8rem;
  height: 2rem;
}

/* Media Queries */
