*,
*::before,
*::after {
  box-sizing: border-box;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.container {
  margin: 20rem 10rem;
  padding: 1rem 2rem;
  border: 5px solid #ccc;
  border-radius: 1rem;
  width: 80%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  font-size: 1.5em;
}

.landing-page {
  margin: 20rem 10rem;
  padding: 3rem;
  border: 5px solid black;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
}

.quiz-title {
  font-size: 3rem;
  /* font-family: ; */
}

.start-btn {
  width: 8rem;
  height: 2.5rem;
  margin: 1rem;
}

.questions-header {
  align-self: center;
  margin: 0.5rem;
  font-size: 2.25em;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 1rem;
  padding: 1em;
}

.btn-container {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

.answer-btn {
  width: 50%;
  height: 2.25rem;
  align-self: center;
  margin: 0.5rem;
}

/* .answer-choices {
  margin-bottom: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
} */

/* .answer-items {
  margin: 1rem auto;
  padding: 1rem;
  flex: 1 1 100%;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #ccc;
  list-style-type: none;
} */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  margin-top: 1rem;
}

.question-tracker {
  /* margin: 1.5rem; */
}

.high-scores {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.next-btn {
  width: 9rem;
  height: 2.5rem;
}

/* Media Queries */
